[submodule ".zsh/zsh-completions"]
	path = .zsh/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule ".zsh/zce.zsh"]
	path = .zsh/zce.zsh
	url = https://github.com/hchbaw/zce.zsh
[submodule "bats"]
	path = bats
	url = https://github.com/sstephenson/bats
[submodule ".zsh/anyframe"]
	path = .zsh/anyframe
	url = https://github.com/mollifier/anyframe
