[include]
  path = .gitconfig.local
[log]
  date = local
[color]
  auto = true
  ui = auto
[alias]
  st="status"
  ci="commit"
  co="checkout"
[push]
  default = simple
[merge]
  log = true
[diff]
  algorithm = histogram
[diff "json"]
  textconv = "jq ."
[rebase]
  autoStash = true
[remote "origin"]
  fetch = +refs/pull/*/head:refs/remotes/origin/pr/*
[user]
  name = uu59
  email = k@uu59.org
[core]
  excludesfile = /Users/uu59/.gitignore_global
  autocrlf = false
[ghq]
  root = /Users/uu59/.ghq
