[include]
  path = .gitconfig.local
[log]
  date = local
[color]
  auto = true
  ui = auto
[alias]
  st="status"
  ci="commit"
  co="checkout"
[push]
  default = simple
[merge]
  log = true
[diff]
  algorithm = histogram
[user]
	name = uu59
	email = k@uu59.org
[core]
	excludesfile = /Users/uu59/.gitignore_global
